<p id="notice"><%= notice %></p>
<h1>All Inventories</h1>
<table>
  <thead>
    <tr>
      <th>SKU</th>  
      <th>Name</th>
      <th>Quantity</th>
      <th>Min</th>
      <th>Faltan</th>
      <th>Details</th>
      <th>Recepción</th>
      <th>Pulmon</th>
      <th>Old Pulmon</th>
      <th>Cocina</th>
      <th>Despacho</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <% total = @inventories[product[:sku]] ? @inventories[product[:sku]] : 0   %>
      <tr>
        <td><%= product[:sku] %></td>
        <td><%= product[:name] %></td>
        <td><%= total %></td>
        <td><%= product[:min] %></td>
        <td><%= product[:min] - total> 0 ? product[:min] - total : 0%></td>
        <td><%= product[:description] %></td>
        <td><%= @recepcion[product[:sku]] ? @recepcion[product[:sku]] : 0 %></td>
        <td><%= @pulmon[product[:sku]] ? @pulmon[product[:sku]] : 0 %></td>
        <td><%= @old_pulmon[product[:sku]] ? @old_pulmon[product[:sku]] : 0 %></td>
        <td><%= @cocina[product[:sku]] ? @cocina[product[:sku]] : 0 %></td>
        <td><%= @despacho[product[:sku]] ? @despacho[product[:sku]] : 0 %></td>
        <td><%= link_to 'Pedir', all_inventory_path(product[:sku]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
